.btnFollow {
    color: orange;
    background: black;
    cursor: pointer;
}

.btnUnfollow {
    color: black;
    background: orange;
    cursor: pointer;
}
.titleStyle {
    display: flex;
    font-size: xxx-large;
    justify-content: center;
    color: orange;
    text-shadow: black 0 0 2px;
    grid-area: header
}
