.btnFollow{
    color: orange;
    background: black;
    /*cursor: url("./src/components/img/carrotSmile.png"), pointer;*/
    cursor: pointer;

}
.btnUnfollow{
    color: black;
    background: orange;
    cursor: pointer;
}