.posts {
    margin-top: 10px;
}

.postBlock {
    padding: 10px;
}

.btnStyle {
    color: black;
    background: orange;
    cursor: pointer;
}

.titleStyle {
    display: flex;
    font-size: xxx-large;
    justify-content: center;
    color: orange;
    text-shadow: black 0 0 2px;
    grid-area: header
}