
.contentImg {
    height: 200px;
    width: 100%;
}

.descriptionBlock {
    padding: 20px;
    display: flex;
}

.profileBlock {
    text-align: center;
    width: 200px;
    /*height: 200px;*/
}

.profileImage img {
    width: 200px;
    height: 200px;
}

.profileInfo {
    padding: 20px;
}

.profileInfo li {
    white-space: break-spaces;
    font-weight: bold;
    margin: 10px;
    list-style-type: none;
}