.contentImg {
    height: 200px;
    width: 100%;
}

.descriptionBlock {
    padding: 20px;
    display: flex;
}

.profileBlock {
    text-align: center;
    width: 200px;
}

.profileImage img {
    width: 200px;
    height: 200px;
}

.profileImageContainer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.profileImageContainer:hover {
    display: flex;
    position: relative;
    opacity: 0.7;
}

.profileImageContainer:hover .addFileField {
    display: inline-block;
}


.addFileField {
    position: absolute;
    display: none;
    border: 1px solid black;
    padding: 6px 12px;
    cursor: pointer;
    color: black;
    background: orange;
}

.addFileField input {
    display: none;
}

.profileInfo {
    padding: 20px;
}

.profileInfo li {
    white-space: break-spaces;
    font-weight: bold;
    margin: 10px;
    list-style-type: none;
}
