.dialogs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.textAreaDialogs {
    grid-row-start: 2;
}

.dialog a {
    text-decoration: none;
    color: #410a4a;
}

.dialogsItems a.active {
    font-weight: 500;
    color: darkgoldenrod;
}
